:root {
  background-color: #000;
  --color-text: #fff;
}

.App {
  flex: 1;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

text {
  color: var(--color-text);
}
